#t_body {
    min-height: 550px;
    padding: 5px;
    width: 100%;
    overflow: hidden;
    background: #fff;
    color: #000;
    vertical-align: top;
    margin: 9px 10px 3px 0;
    border-top: 1px solid #aaa;
    padding-top: 8px;
    font: normal 13px / 1.35 'Oxygen Mono', 'lucida console', 'courier new', 'courier', monospace;
}

#t_body a{

    display: inline-block;
    padding: 0.3em 0.5em 0 0.5em;
    margin: 0.25em -0.5em 0 -0.5em;
    line-height: 1.3em;
    font-size: 100%;
    color: #04c;
    cursor: pointer;
    
    
    }

div{
display: block;
unicode-bidi: isolate;
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
}

body{
margin: 41px 0 0 0;
background: #fff;
font: normal 14px/1.2 roboto,arial,helvetica;
color: #000;
}

#t_body a{

display: inline-block;
padding: 0.3em 0.5em 0 0.5em;
margin: 0.25em -0.5em 0 -0.5em;
line-height: 1.3em;
font-size: 100%;
color: #04c;
cursor: pointer;
=======
>>>>>>> c66c425326ad1152f36e789d3d45250f7039cb34
>>>>>>> Stashed changes

}




a {
    text-decoration: none;
    color: #06e;
}

pre{
display: block;
font-family: monospace;
unicode-bidi: isolate;
white-space: pre;
margin: 1em 0px;
}
:root{
--main-max-width: 1220px;
--sec-fonts: Khand,tahoma,verdana;
}

#titulo{
    font:Times New Roman;
    font-size: 5ex;
    color:#00aa00;

}

*#subtitulo{
    font:Times New Roman;
    font-size: 4ex;
    color:#008800;
}

h1
{
    text-align: center;
    color:red;
    text-transform: uppercase;

}

nav > ol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box{
    position: relative;
    left: 280px;
}

html
{
    background-color:pink;
}
#fondo-div{
    background-color:black;
}


.amaranth-regular-italic {
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 3ex;
  }
  
  .flavors-regular {
    font-family: "Flavors", cursive;
    font-weight: 60;
    font-style: normal;
    font-size: 3ex;
  }

  .autour-one-regular {
    font-family: "Autour One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3ex;
  }
  

.edu-sa-beginner-<uniquifier> {
  font-family: "Edu SA Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 500x>;
  font-style: normal;
  font-size: 3ex;
}

.barriecito-regular {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3ex;
  }

  .poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3ex;
  }

  .estonia-regular {
    font-family: "Estonia", cursive;
    font-weight: 400;
    font-style: normal;
    
  }
  